/*  全体 */
body {
    font-size: 6em;
    text-align: center;
}

/* 残り秒数の表示タイマー */
.count {
    margin: 0;
    font-weight: bold;
    color:#888;
}

/* テキストの表示領域 */
.wrap {
    margin-top: 20px;
    padding: 80px 40px 80px 40px;
    background-color: #666;
    font-weight: bold;
    color:#fff
}

/* 正しくタイプされたときのテキストカラー */
.typed {
    color: lightgreen;
}

/* ミスタイプされたときの背景 */
.mistyped {
    background-color: red;
}